<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sss.vts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/khukri"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/khukri"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.Home_Activity.StudentInfoActivity"
            android:parentActivityName=".Admin.AdminActivity"></activity>
        <activity
            android:name=".Admin.Home_Activity.TrainingActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".Admin.Home_Activity.RoutineActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".Admin.Home_Activity.InformationActivity"
            android:parentActivityName=".Admin.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Home_Activity.AssignmentsActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".Admin.Home_Activity.DownloadsActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".Admin.Home_Activity.EventActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User.UserActivity"
            android:theme="@style/AppTheme.NoActionBarNavigation" />
        <activity android:name=".Admin.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".User.RegisterActivity"
            android:parentActivityName=".Admin.Home_Activity.StudentInfoActivity"/>
        <activity android:name=".Admin.AdminRegister"
            android:parentActivityName=".Admin.Home_Activity.StudentInfoActivity"/>
    </application>

</manifest>